<launch>

    <arg name="ir_topic" default="/image_republisher/ir/image_mono16" />
    <arg name="rgb_topic" default="/image_republisher/rgb/image_raw" />
    <arg name="ir_folder" default="/home/anitsch/ir" />
    <arg name="rgb_folder" default="/home/anitsch/rgb" />
    <arg name="rosbag_file" default="/d/projects/rega/misc/rosbags/all_trimmed_10s.bag" />

    <param name="/ir_save_path" type="str" value="$(arg ir_folder)"/>
    <param name="/rgb_save_path" type="str" value="$(arg rgb_folder)"/>

    <node 
    name="ir_saving" 
    pkg="ir_rgb_extractor" 
    type="ir_saver" 
    output="screen"
    required="true">
        <remap from="image" to="$(arg ir_topic)" />
    </node>

    <node 
    name="rgb_saving" 
    pkg="ir_rgb_extractor" 
    type="rgb_saver" 
    output="screen"
    required="true">
        <remap from="image" to="$(arg rgb_topic)" />
    </node>

    <node 
    name="rosbag_play" 
    pkg="rosbag" 
    type="play" 
    required="true"
    args="$(arg rosbag_file)" />

</launch>
