<launch>

    <arg name="image_topic" default="/vi_sync/flir" />
    <arg name="storage_folder" default="/mnt/c/Users/Eran/Desktop/rosbagFiles/davos_flir" />
    <arg name="rosbag_file" default="/mnt/c/Users/Eran/Desktop/rosbagFiles/FLIGHT_rega_2018-06-21-13-29-16_4.bag" />

    <param name="/ir_save_path" type="str" value="$(arg storage_folder)"/>

    <node 
    name="ir_saving" 
    pkg="ir_extractor" 
    type="ir_saver" 
    output="screen"
    required="true">
        <remap from="image" to="$(arg image_topic)" />
    </node>

    <node 
    name="rosbag_play" 
    pkg="rosbag" 
    type="play" 
    required="true"
    args="$(arg rosbag_file)" />

</launch>
